* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background-color: #f8f9fb;
}

p {
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn-info {
    color: #fff;
    background-color: #89beff !important;
    border-color: #89beff;
}

<!--Login cSS -->
body .login-body {
    background-image: linear-gradient(to right, #5d54a4, #655da9, #6c66ae, #746fb3, #7c78b8);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.screen {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}
.screen h2{
    color: #7e7bb9;
    z-index: 99;
    position: absolute;
    top: 65px;
    left: 30px;
    font-size: 30px;
    font-weight: 700;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    color: #4C489D;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}
.error-msg{
    text-align: center;
    background: white;
    left: 35px;
    bottom: 90px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 24px #5d5798;
    font-size: 15px;
    color: #4c489d;
    border-radius: 8px;
    display: block;
}
.social-login__icon:hover {
    transform: scale(1.5);
}

.login .display_name{
    font-size: 45px;
    font-weight: 400;
    color: #5e56a3;
}

/*Sidemenu css*/
.side-nav{
    height: 100vh;
    position: fixed;
    width: 250px;
}

.side-nav .nav-menu {
    height: 100%;
    list-style: none;
    padding: 0 0 40px;
    width: 250px;
    background-color: #262835;
}

.side-nav .logo {
    padding: 30px;
}

.side-nav .nav-item {
    position: relative;
    padding: 10px 20px;
}
.nav-item.active {
    background-color: #f8f9fb;
}
.nav-item.active a {
    color: #262835;
}
.nav-item a {
    text-decoration: none;
    color: #fff;
}
.menu-text {
    padding: 0 20px;
}
.side-nav .nav-item.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 20px 0 0 #f8f9fb;
}
.side-nav .nav-item.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-top-right-radius: 25px;
    box-shadow: 0 -20px 0 0 #f8f9fb;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main {
    flex-grow: 1;
    margin-left: 250px;
}

header {
    background: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle {
    background-color: transparent;
    border: 0;
    display: flex;
}

header .dropdown-toggle:hover {
    background-color: transparent;
}

header .dropdown-toggle:active, header .dropdown-toggle:focus {
    background-color: transparent;
    box-shadow: none !important;
}

.dropdown-toggle span {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #439A46;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: -15px;
    margin-top: 6px;
}

.dropdown-toggle i {
    height: 52px;
    width: 52px;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid #fff;
    margin: 0;
    background-color: #439A46;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 50px;
}

.section-head {
    padding: 13px 23px;
    font-size: 18px;
    font-weight: 700;
    display: inline;
    position: relative;
    background-image: linear-gradient(102deg, #E8F5E9, #f8f9fb);
}

.section-head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: #439A46;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

section .card {
    border: 0;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.student-table tr:nth-child(odd) {
    background-color: #f7f8fa;
}

.student-table th, .student-table td {
    border: 0;
    padding: 18px 30px;
    font-size: 18px;
}

.programme {
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}

.programme-info {
    background-color: #fff;
    padding: 10px;
}

.programme-info ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.programme-image {
    overflow: hidden;
    position: relative;
}

.programme-image::before {
    bottom: -29px;
    content: '';
    height: 50px;
    position: absolute;
    right: -30px;
    z-index: 9;
    left: -30px;
    background: #fff;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transition: all 0.4s;
}

.programme .programme-image img {
    transition: 0.3s all ease-in-out;
}

.programme:hover .programme-image img {
    transform: scale(1.2);
    transition: 0.3s all ease-in-out;
}

.programme:hover .programme-image::before {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

.btn-primary-light {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
    width: 100%;
    border-radius: 8px;
    background-color: #E8F5E9;
    color: #439A46;
    border: 0;
    font-weight: 500;
}